<ion-toolbar>

<div class="top_bar_tools">
    <ion-tab-button >
      <ion-icon name="list"></ion-icon>
      <ion-label>Check List</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="return-left"></ion-icon>
      <ion-label>Received Check</ion-label>
      <!-- <ion-badge>3</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>New</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="people"></ion-icon>
      <ion-label>Payee List</ion-label>
    </ion-tab-button>

    <ion-tab-button >
      <ion-icon name="albums"></ion-icon>
      <ion-label>Bank Accounts</ion-label>
    </ion-tab-button>

  </div>
</ion-toolbar>
