
<ion-content padding>
  <form >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="../../../../assets/media/bg/logo_ocw.png"/>
          </div>
          <div padding>
            <ion-text color="primary">
              <h3>Forget Your Password?</h3>
              <p>Enter your email address. We'll email an OTP for reset your password.</p>
            </ion-text>
            <ion-item lines="none">
              <ion-input name="email" [(ngModel)]="email" type="email" placeholder="E-mail"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <!-- <ion-button routerLink='/submit-otp' type="submit" [disabled]="form.invalid" (click)="sendOtp()">Send OTP</ion-button>
            <ion-button routerLink='/login' type="submit" [disabled]="form.invalid">Cancel</ion-button> -->
            <ion-button type="button" (click)="sendOtp()" [disabled]="loading">{{ loading ? "Sending" : "Send OTP" }}<ion-spinner class="sm-spinner" *ngIf="loading" ></ion-spinner></ion-button>
            <ion-button routerLink='/login' type="button">Cancel</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

