.head_tool{
    --background: #4CAF50;
  }
  ion-menu-button{
    --color: #fff;
  }
  .notif, .sear{
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
  }
  ion-back-button{
      --color: #fff;
  }
  img{
    width: 84px;
    display: inline-block;
  }
  .sub-head p{
    margin: 10px 0; 
    font-size: 14px;
  }