
  img{
    width: 84px;
    display: inline-block;
  }
  .sub-head p{
    margin: 10px 0; 
    font-size: 14px;
  }
  .sub-head{
    background: url(../../../../../assets/media/bg/15.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'productsansmedium';
    color: #3d905b;
    letter-spacing: 1px;

}
.single_check_img{
    width: 100%;
    display: block;
}