.head_tool{
    --background: #4CAF50;
  }
  ion-menu-button{
    --color: #fff;
  }
  .notif, .sear{
    font-size: 30px;
    margin-right: 5px;
    color: #fff;
  }
  ion-back-button{
      --color: #fff;
  }
  p{
      font-family: 'productsansmedium';
      letter-spacing: 1px;
      color: #3d905b;
  }
  img{
    width: 93px;
    display: inline-block;
    margin-right: 58px;
  }
  .sub-head{
    background: url(../../../../../../assets/media/bg/15.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}
ion-content{
  --overflow: hidden;
}

ion-spinner {
  display: block;
  margin: auto;
}