<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcome-slide</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-content class="parent">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <div class="slide1 slide">
          <img src="./assets/media/bg/slide1.png">
          <h3>Convert Paper Checks to Paperless Digital Checks.</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide2 slide">
          <img src="./assets/media/bg/slide2.png">
          <h3>For the Next Generation of Business</h3>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide3 slide">
          <img src="./assets/media/bg/check_sampl.png"> 
          <h3>Pay & Get Paid by Online Checks Without a Transaction Fee</h3>
        </div>
        <!-- <h1>Itsanique wesigaman is livarusini</h1> -->
      </ion-slide>
      <ion-slide>
        <div class="slide4 slide">
          <img src="./assets/media/bg/slide4.png"> 
          <h3>It Does More, It Costs Less, It's That Simple</h3>
        </div>
        <!-- <h1>Molisuga dihunisaai venikurifa </h1> -->
      </ion-slide>
    </ion-slides>
  </ion-content>
    <ion-content padding>
      <ion-button>Create Free Account</ion-button>
      <ion-button class="out_btn">Sign In</ion-button>
    </ion-content>
</ion-content>
