
ion-icon{
    width: 24px;
    height: 24px;
}
.new_icon{
    width: 26px !important;
    height: 26px !important;
}
ion-label{
    font-size: 10px;
}
@media(max-width: 360px){
    ion-label{
        font-size: 8px;
    }
}

