
ion-content{
    --background: url(../../../../assets/media/bg/bg05.png);
    --background-size: cover;
    --background-repeat: no-repeat;
    --height: -webkit-fill-available;
}
@media(min-width:500px){
    ion-content{
    --background: url(../../../../assets/media/bg/bg25.png);
    --background-size: cover;
    --background-repeat: no-repeat;
    --height: -webkit-fill-available;
    }
}
ion-item{
    --color: #33b375;
    --background: #0e6a33;
    margin-bottom: 5px;
    --border-radius: 50px;
    font-size: 14px;
}
ion-button{
    --background: #0e6a33;
    --border-radius: 50px;
    width: 100%;
    --box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2);
    font-family: 'productsansmedium';
    --color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 10px;
    
}
a{
    color: #fff;
    text-decoration: none;
}
.text-center{
    text-align: center;
    font-family: 'productsansregular';
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
}
ion-row{
    justify-content: center;
}
img{
    display: inline-block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;

}
h3{
    font-family: 'productsansbold';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff !important;
    text-align: center;
}
ion-input{
    display:inline-block;
    width:40px;
    height:40px;
    margin:3px;
    border-radius: 50%;
    --background:#e1e1e1;
    }
.text-left{
    margin-top: 20px;
    font-size: 14px;
    font-family: 'productsanslight';
    letter-spacing: 1px;
}
.excess{
    margin-top: 120px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'productsansbold';
    letter-spacing: 1px;
    margin-bottom: 20px;
}
ion-icon{
    font-size: 23px;
    color: #34b944;
    margin-right: 20px;
}
p{
    color: #fff;
    font-family: 'productsanslight';
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 1.2em;
    text-align: center;
}