<ion-header>
  <ion-toolbar class="head_tool">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div text-center>
      <img src="../../../../../assets/media/bg/logo_ocw.png"/>
    </div>
    <ion-buttons slot="end">
      <ion-icon routerLink='/notifications' class="notif" name="notifications-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <div class="sub-head">
    <p>Select Check Model</p>
  </div>


<ion-content>
  <ion-list>
  <ion-item lines="none">
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">Check On Top</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/check_on_top.png">
      </ion-card-content>
    </ion-card>
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">Check On Bottom</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/check_on_bottom.png">
      </ion-card-content>
    </ion-card>
  </ion-item>
  
  <ion-item lines="none"> 
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">3 Per Page</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/3perpage.png">
      </ion-card-content>
    </ion-card>
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">Check On Middle</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/check_on_middle.png">
      </ion-card-content>
    </ion-card>
  </ion-item>
  
  <ion-item lines="none">
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">Pre Printed Check</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/pre_printed_check.png">
      </ion-card-content>
    </ion-card>
    <ion-card routerLink='/tabs/check-single-design'>
      <ion-card-title class="check_model_title">Wallet</ion-card-title>
      <ion-card-content>
        <img class="check_model_img" src="../../../../../assets/media/bg/wallet.png">
      </ion-card-content>
    </ion-card>
  </ion-item>
  </ion-list>
</ion-content>
