<ion-header>
	<ion-toolbar>
    <ion-title>Custom To Address Form</ion-title>
    <ion-buttons fill="outline" slot="end">
			<ion-button color="dark" (click)="dismiss()">
				Close
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
   <form [formGroup]="customAddressForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label>Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="name" type="text" placeholder="Enter your name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Company Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="companyName" required type="text" placeholder="Enter company name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Address Line 1<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="addressLine1" required type="text" placeholder="Enter address 1"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Address Line 2</ion-label>
        <ion-input  formControlName="addressLine2" required type="text" placeholder="Enter address 2"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>City <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="city" placeholder="City"></ion-input>
        <ion-label>State <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="state" placeholder="State"></ion-input>
        <ion-label>Zip <ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="zip"  placeholder="Zip"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input formControlName="phone"  required type="tel" placeholder="Enter phone number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input formControlName="email" required type="email" placeholder="Enter email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea formControlName="note"></ion-textarea>
      </ion-item>
    </ion-list>
    
    <div class="modal_form_btn">
      <ion-button  (click)="onSubmitCustomAddress()"   expand="full" type="submit" color="danger" class="ion-no-margin" *ngIf="!isEdit">Submit</ion-button>
      <ion-button  (click)="onUpdateCustomAddress()"   expand="full" type="submit" color="danger" class="ion-no-margin"  *ngIf="isEdit">Update</ion-button>
    </div>
  </form>
</ion-content>