<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="../../../../assets/media/bg/logo_ocw.png" />
        </div>
        <div padding>
          <ion-text color="primary">
            <h3>Reset Your Password</h3>
            <p>Enter your new password and confirm password.</p>
          </ion-text>
          <ion-item lines="none">
            <ion-input [(ngModel)]="password" type="password" placeholder="New Password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password"></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button (click)="reset()" [disabled]="loading">{{ loading ? "Resetting" : "Reset Password" }}</ion-button>
          <ion-button routerLink='/login'>Cancel</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>